* {
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  text-align: center;

  background: rgb(66, 14, 14);
  background: linear-gradient(
    125deg,
    rgba(66, 14, 14, 1) 0%,
    rgba(36, 31, 97, 1) 100%
  );
}
